.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-details-form{
  display: flex;
  margin: 20px;
  border: solid 1px gray;
  padding: 20px;
  box-shadow: 5px 5px 7px 5px rgb(233, 126, 126);
  border-radius: 2%;
}
#heading-logo{
  color: purple;
  display: flex;
  justify-content: center;
  font-family: Orbitron , sans-serif;
}
.card-display{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  border: solid 2px rgb(233, 126, 126);
  box-shadow: 5px 5px 7px 5px rgb(233, 126, 126);
}
#user-details-card{
  border: solid 3px rgb(233, 126, 126);
  margin: 10px;
  border-radius: 5%;
}